<!DOCTYPE html>
<html>
    <head>
        <title>TimeToLift</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../views/styles/styles.css">
    </head>
    <body>
        
        <div class="container vflex-biggap">
            <div class="hflex-center">
                <h1>TimeToLift</h1>
            </div>
            <div id="landing-signin" class="jumbotron button">
                <p>SIGN IN</p>
            </div>
            <div id="landing-register" class="jumbotron button">
                <p>REGISTER</p>
            </div>
        </div>
    </body>
</html>
