<template>
    <div class="micro-roommate hflex">
        <p class="micro-roommate-name">Filler</p>
        <button class="btn btn-danger rem-roommate-btn" type="button">Remove</button>
    </div>
</template>