<div class="navbar navbar-light bg-light topnav">
    <a href="/" class="profile-link nav-item">HOME</a>
    <a href="/profile" class="profile-link nav-item">PROFILE</a>
    <a href="/team" class="profile-link nav-item">TEAM</a>
    <a href="/signout" class="profile-link nav-item">SIGN OUT</a>
</div>