<!DOCTYPE html>
<html>
    <head>
        <title>
        TimeToLift
    </title>
    </head>
    <body>
        <form id="registration-form">
            <label for="reg-name">Name</label>
            <input name="reg-name">
            <label for="reg-phone_number">Phone Number</label>
            <input name="reg-phone_number">
            <label for="reg-team">Team</label>
            <input name="reg-team">
            <button type="submit">Submit</button>
        </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/views/register.js" type="application/javascript"></script>
    </body>
</html>