<template>
    <div class="roommate-card vflex">
        <!--Profile picture-->
        <div class="hflex-center">
            <div class="roommate-profpic">
                <p>TG</p>
            </div>
        </div>
        <!--Name-->
        <div class="hflex-center">
            <div class="roommate-name">
                <p>Teddy Gutman</p>
            </div>
        </div>
        <!--Lift selection-->
        <div class="hflex-center">
            <p>Going to: </p>
            <div class="roommate-lift-selection">

            </div>
        </div>
    </div>
</template>