<!DOCTYPE html>
<html>
    <head>
        <title>[TTL] Sign-in</title>
    </head>
    <body>
        <% if(message){ %>
        <div class="alert <%= messageClass %>" role="alert">
            <%= message %>
        </div>
        <% } %>
        <form id="signin-form" method="POST">
            <label for="signin-name">Name</label>
            <input name="signin-name">
            <label for="signin-phone_number">Phone Number</label>
            <input name="signin-phone_number">
            <button type="submit">Log in</button>
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/views/signin.js" type="application/javascript"></script>
    </body>
</html>