<!DOCTYPE html>
<html>
    <head>
        <title>[TTL] Team View</title>
    </head>
    <body>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/views/teamview.js" type="application/javascript"></script>
    </body>
</html>